# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
/.cache/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
*.swo
*~

# Local env files
.env*.local
.env
serviceAccountKey.json
firebase-service-account*.json

# Vercel
.vercel

# Local editor settings
.vscode

# TypeScript
*.tsbuildinfo
next-env.d.ts
.env.local
